<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="" />
		<add key="SiteUrl" value="" />
		<add key="implicitWait" value="" />
		<add key="pageLoadWait" value="" />
		<add key="WaitUntilTimeout" value="" />
		<add key="DownloadWaitMilliseconds" value="" />
		<add key="RunInHeadlessMode" value="" />
		<add key="HeadlessResolutionWidth" value="" />
		<add key="HeadlessResolutionHeight" value="" />		
	</appSettings>
</configuration>